// —————————————————————————
//     General
// —————————————————————————

body {
  font-size: $fs-root;
  font-family: $ff-general;

  &.js-offline {

    &::after {
      content: attr(data-status);
      width: 100%;
      height: 100%;
      padding-top: 10%;
      top: 0;
      left: 0;
      text-align: center;
      color: $bg-more-dark;
      font-size: $fs-small;
      line-height: $fs-small;
      background-color: rgba(0,0,0,.8);
      position: absolute;
      overflow: hidden;
      z-index: 99;
    }
  }
}

::-moz-selection {
  background: $btn-primary;
  color: $link-primary;
  text-shadow: none;
}

::selection {
  background: $btn-primary;
  color: $link-primary;
  text-shadow: none;
}

.content {
  width: 960px;
  position: relative;
  margin: 0 auto;
  display: block;
}

.section-title {
  font-size: $fs-large;
  margin: 0 0 20px 60px;
}

.section-subtitle {
  font-size: $fs-medium;
  margin: 0 10px 0 60px;
  display: inline-block;
}

// Custom select
.dd-container {
  display: inline-block;
  vertical-align: top;
}

.dd-select {
  background-color: #fff !important;
  color: $bg-dark-light;
  font-size: $fs-extra-medium;
  margin-top: -11px;
  font-family: $ff-general;
  border: none;
  @include bsd(2px, 2px, rgba(0,0,0,.2));
}

//
// Header
//

.header-primary {
  height: 180px;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
  width: 100%;
  margin: 0 auto;

  @include bsd(4px, 1px, rgba(0,0,0,.2));
  @include transition(height, .2s, ease, 0s);

  &.js-header-fixed {
    height: 122px;

    .logo { margin-top: 30px; }

    .buy-ticket { top: -5px; }

    .nav-primary { top: 49px; }
  }
}

.logo {
  margin-top: 60px;
  width: 205px;
  height: 81px;
  display: inline-block;

  @include transition(margin-top, .2s, ease, 0s);

  a {
    text-indent: -9999px;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include path('logo.svg');
  }
}

.nav-primary {
  display: inline-block;
  position: relative;
  top: 99px;

  @include transition(top, .2s, ease, 0s);
}

.nav-item {
  display: inline-block;
  text-align: center;
  margin-right: 26px;
  text-transform: uppercase;

  &.js-nav-active {
    a {
      color: $active;
      border-bottom: 3px solid $active;
    }
  }

  &.jobs-active {
    a {
      color: $bg-dark;
      border-bottom: 3px solid $bg-dark;
    }
  }
}

.nav-link {
  text-decoration: none;
  font-family: $ff-link;
  font-size: $fs-small;
  color: $link-primary;
  display: block;
  padding: 8px 10px;
  @include transition(all, .2s, ease-out, 0s);

  &:hover {
    color: $active;
    border-bottom: 3px solid $active;
  }

  &.js-nav-active {
    color: $active;
    border-bottom: 3px solid $active;
  }
}

.btn {
  @include apr(none);
  padding: 7px 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: $fs-small;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: $ff-link;
  @include bsd(0, 2px, rgba(0,0,0,.2));

  &.buy-ticket {
    background-color: $btn-primary;
    position: relative;
    top: 35px;
    left: 64%;

    @include transition(top, .2s, ease, 0s);
  }
}


//
// Main
//

.main {
  background-color: $bg-primary;
  display: block;
  padding-top: 180px; // height of header

  .section {
    width: 100%;
    min-height: 100%;
    position: relative;

    .content {
      padding: 80px 0;
    }
  }
}


//
// Location
//

.location { padding: 40px 0; }

.location-item {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 10px 0 10px 10px;
  overflow: hidden;
  position: relative;

  &.live {
    width: 610px;
    background-color: $btn-primary;

    figcaption { background-color: $btn-primary; }
  }

  &:hover {
    @include bsd-multiples(6px 8px 9px rgba(0,0,0,0.2));

    .location-title { @include translate3d(0, 95px, 0); }

    .location-info {
      @include translate3d(0, -65px, 0);
    }

    img { @include translate3d(0, -40px, 0); }

    &.live {
      .location-info { @include translate3d(0, -200px, 0); }
    }
  }
}

.location-image {
  img {
    max-width: 100%;
    min-height: 200px;

    @include translate3d(0, 0, 0);
    @include transition(transform, .2s, ease-out, 0s);
  }
}

.location-info {
  background-color: $active;
  font-size: $fs-extra-think;
  color: #ffffff;
  padding: 11px 25px;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 1.3em;

  @include translate3d(0, 0, 0);
  @include transition(transform, .2s, linear, 0s);
  @include bsd-multiples(inset 0 1px 2px rgba(0,0,0,.2));
}

.location-title {
  color: #ffffff;
  z-index: 2;
  font-family: $ff-general;
  font-size: $fs-medium;
  position: absolute;
  left: 30px;
  text-shadow: 0 0 1px #000;

  @include translate3d(0, 150px, 0);
  @include transition(transform, .2s, linear, 0s);
}


//
// Event
//

.event {
  background-color: $bg-pattern;
  background: $bg-pattern url(../../src/images/about_bg.png)  center center no-repeat;
  background-size: cover;

  h3 {
    font-size: ($fs-large)+1;
    color: #ffffff;
    width: 260px;
    height: 220px;
    display: inline-block;
    vertical-align: middle;
    margin: 200px 0 0 50px;
  }

  aside {
    display: inline-block;
    margin-left: 60px;
    width: 500px;
    vertical-align: top;
  }

  .section-description {
    font-size:  ($fs-small)+.3;
    line-height: 21px;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
  }
}


//
// Speakers
//

.speakers {
  h2 { color: $title-secondary; }
  h3 { color: $subtitle-primary; }
}

.speakers-list { margin-top: 65px; }

.speakers-item {
  width: 220px;
  height: 300px;
  display: inline-block;
  margin: 10px 0 10px 10px;
  position: relative;
  overflow: hidden;

  &:hover{
    figcaption{
      background-color: #D84437;
    }
  }

  img {
    max-width: 100%;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 20px;
    color: #ffffff;
    font-size: ($fs-medium)-.3;
    line-height: ($fs-small)+.2;
    background-color: $bg-secondary;
    @include transition(all, .2s, ease, 0s);

  }
}


//
// Schedule
//

.schedule {
  background-color: $bg-other;

  .section-title { color: #ffffff; }

  .section-subtitle {
    color: #ffffff;
    margin-bottom: 65px;
  }
}

.speaker {
  display: block;
  margin-bottom: 40px;
  position: relative;
}

.speaker-image {
  display: inline-block;
  width: 220px;
  height: 210px;
  overflow: hidden;

  img {
    max-width: 100%
  }
}

.speaker-info {
  display: inline-block;
  margin-left: 20px;
  max-width: 600px;
  vertical-align: bottom;
  color: #fff;

  h3 {
    margin-top: 40px;
    font-size: 40px;
  }

  h4 {
    margin: 5px 0 30px 0;
    font-size: 20px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }
}


//
// Jobs
//

.jobs {
  @extend .speaker;
  min-height: 350px;

  .section-subtitle {
    margin-top: -10px;
    margin-bottom: 60px;
  }
}

.main-jobs { background-color: #fafafa; }

.jobs-image {
  @extend .speaker-image;
}

.jobs-info {
  @extend .speaker-info;
  color: $bg-dark;

  p { clear: right; }
}

.jobs-apply {
  color: $link-secondary;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  font-size: $fs-small;
  font-family: $ff-description;
  float: right;
  margin-top: -50px;
}



//
// About
//

.about {
  background-color: $bg-dark;

  .section-title { color: #ffffff; }

  .section-subtitle {
    color: #ffffff;
    margin-bottom: 65px;
  }
}

.sponsors-logo {
  a {
    text-decoration: none;
    outline: none;
    border: none;
  }

  figure {
    display: inline-block;
    max-width: 360px;
    max-height: 104px;
    margin-right: 60px;
    vertical-align: middle;

    &.google { width: 314px; }

    img {
      max-width: 100%;
    }
  }
}

.organizers {
  margin-top: 100px;

  .section-subtitle {
    margin-bottom: 20px;
  }
}

.organizers-item {
  display: inline-block;

  figcaption {
    background-color: $bg-dark-light;
  }
}


//
// Footer
//

.footer-primary {
  background-color: $bg-more-dark;
  height: 60px;
  text-align: center;
  font-size: $fs-extra-small;
  line-height: 60px;
  color: #fff;

  span {
    text-indent: -9999px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 56px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include path('google-secondary.png');
  }
}



//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
