// —————————————————————————
//     General
// —————————————————————————

body {
  font-size: $fs-root;
  font-family: $ff-general;

  &.js-offline {

    // &::after {
    //   content: attr(data-status);
    //   width: 100%;
    //   height: 100%;
    //   padding-top: 10%;
    //   top: 0;
    //   left: 0;
    //   text-align: center;
    //   color: $btn-primary;
    //   font-size: $fs-small;
    //   line-height: $fs-small;
    //   font-family: $ff-primary;
    //   background-color: rgba(0,0,0,.8);
    //   position: absolute;
    //   overflow: hidden;
    //   z-index: 99;
    // }
  }
}

::-moz-selection {
  background: $btn-primary;
  color: $link-primary;
  text-shadow: none;
}

::selection {
  background: $btn-primary;
  color: $link-primary;
  text-shadow: none;
}

//
// Header
//

.header-primary {
  height: 180px;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;

  @include row(12);
  @include bsd(4px, 1px, rgba(0,0,0,.2));
  @include transition(position, .3s, ease, 0s);
}

.logo {
  @include column(2);
  @include push(1);
  margin-top: 60px;
  height: 56px;

  a {
    text-indent: -9999px;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include path('logo.svg');
  }
}

.nav-primary {
  @include column(8);
  position: relative;
  top: 117px;
}

.nav-item {
  @include column(1,6);
  text-align: center;
  text-transform: uppercase;

  &.js-nav-active {
    a {
      color: $active;
      border-bottom: 3px solid $active;
    }
  }
}

.nav-link {
  text-decoration: none;
  font-family: $ff-link;
  font-size: $fs-small;
  color: $link-primary;
  display: block;
  padding: 8px 0;
  @include transition(all, .2s, ease-out, 0s);

  &:hover {
    color: $active;
    border-bottom: 3px solid $active;
  }
}

.btn {
  @include apr(none);
  padding: 7px 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: $fs-small;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: $ff-link;
  @include bsd(0, 2px, rgba(0,0,0,.2));

  &.buy-ticket {
    background-color: $btn-primary;
    position: relative;
    top: 75px;
    left: 53%; // 700px
  }
}


//
// Location
//

.main {
  background-color: $bg-primary;
  @include row(12);

  .section {
    @include column(12);
    position: relative;

    &:first-child { top: 220px; }
  }
}

.location-item {
  @include column(4, 12);
  margin-bottom: 20px;
  overflow: hidden;
  height: 200px;
  background-color: $active;
  position: relative;

  &.live {
    @include column(8, 12);
    margin-bottom: 20px;
    background-color: $btn-primary;

    figcaption { background-color: $btn-primary; }
  }

  &:hover {
    @include bsd-multiples(6px 8px 9px rgba(0,0,0,0.2));
  }
}

.location-link {
  &:hover {
    .location-title { bottom: 85px; }

    figcaption { top: 130px; }

    img { @include translate3d(0, -40px, 0); }
  }
}

.location-image {
  img {
    max-width: 100%;
    @include transition(transform, .2s, ease-out, 0s);
  }
}

.location-info {
  background-color: $active;
  font-size: $fs-extra-think;
  color: #ffffff;
  padding: 20px 25px;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  line-height: 1.6em;

  @include transition(top, .2s, linear, 0s);
  @include bsd-multiples(inset 0 1px 2px rgba(0,0,0,.2));
}

.location-title {
  color: #ffffff;
  z-index: 2;
  font-family: $ff-general;
  font-size: $fs-medium;
  position: absolute;
  bottom: 25px;
  left: 30px;

  @include transition(bottom, .2s, linear, 0s);
}



//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
