// —————————————————————————
//     General
// —————————————————————————

body {
  font-size: $fs-root;
  font-family: $ff-general;

  &.js-offline {

    // &::after {
    //   content: attr(data-status);
    //   width: 100%;
    //   height: 100%;
    //   padding-top: 10%;
    //   top: 0;
    //   left: 0;
    //   text-align: center;
    //   color: $btn-primary;
    //   font-size: $fs-small;
    //   line-height: $fs-small;
    //   font-family: $ff-primary;
    //   background-color: rgba(0,0,0,.8);
    //   position: absolute;
    //   overflow: hidden;
    //   z-index: 99;
    // }
  }
}

::-moz-selection {
  background: $btn-primary;
  color: $link-primary;
  text-shadow: none;
}

::selection {
  background: $btn-primary;
  color: $link-primary;
  text-shadow: none;
}

.content {
  width: 960px;
  position: relative;
  margin: 0 auto;
  display: block;
  // background: oldlace;
}

//
// Header
//

.header-primary {
  height: 180px;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
  width: 100%;
  margin: 0 auto;

  @include bsd(4px, 1px, rgba(0,0,0,.2));
  @include transition(height, .2s, ease, 0s);

  &.js-header-fixed {
    height: 100px;

    .logo { margin-top: 30px; }

    .buy-ticket { top: -5px; }

    .nav-primary { top: 49px; }
  }
}

.logo {
  margin-top: 60px;
  width: 205px;
  height: 56px;
  display: inline-block;

  @include transition(margin-top, .2s, ease, 0s);

  a {
    text-indent: -9999px;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include path('logo.svg');
  }
}

.nav-primary {
  display: inline-block;
  position: relative;
  top: 99px;

  @include transition(top, .2s, ease, 0s);
}

.nav-item {
  display: inline-block;
  text-align: center;
  margin-right: 26px;
  text-transform: uppercase;

  &.js-nav-active {
    a {
      color: $active;
      border-bottom: 3px solid $active;
    }
  }
}

.nav-link {
  text-decoration: none;
  font-family: $ff-link;
  font-size: $fs-small;
  color: $link-primary;
  display: block;
  padding: 8px 10px;
  @include transition(all, .2s, ease-out, 0s);

  &:hover {
    color: $active;
    border-bottom: 3px solid $active;
  }
}

.btn {
  @include apr(none);
  padding: 7px 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: $fs-small;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: $ff-link;
  @include bsd(0, 2px, rgba(0,0,0,.2));

  &.buy-ticket {
    background-color: $btn-primary;
    position: relative;
    top: 35px;
    left: 64%;

    @include transition(top, .2s, ease, 0s);
  }
}


//
// Main
//

.main {
  background-color: $bg-primary;
  display: block;
  padding-top: 180px; // height of header

  .section {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 45px auto;

    &.event {
      min-height: 515px;
      background-color: $bg-pattern;
    }
  }
}


//
// Location
//

.location-item {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 10px 0 10px 10px;
  overflow: hidden;
  position: relative;

  &.live {
    width: 600px;
    background-color: $btn-primary;

    figcaption { background-color: $btn-primary; }
  }

  &:hover {
    @include bsd-multiples(6px 8px 9px rgba(0,0,0,0.2));

    .location-title { bottom: 85px; }

    .location-info {
      @include translate3d(0, -65px, 0);
    }

    img { @include translate3d(0, -40px, 0); }

    &.live {
      .location-info { @include translate3d(0, -200px, 0); }
    }
  }
}

.location-image {
  img {
    max-width: 100%;
    min-height: 200px;

    @include translate3d(0, 0, 0);
    @include transition(transform, .2s, ease-out, 0s);
  }
}

.location-info {
  background-color: $active;
  font-size: $fs-extra-think;
  color: #ffffff;
  padding: 11px 25px;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 1.3em;

  @include translate3d(0, 0, 0);
  @include transition(transform, .2s, linear, 0s);
  @include bsd-multiples(inset 0 1px 2px rgba(0,0,0,.2));
}

.location-title {
  color: #ffffff;
  z-index: 2;
  font-family: $ff-general;
  font-size: $fs-medium;
  position: absolute;
  bottom: 25px;
  left: 30px;

  @include transition(bottom, .2s, linear, 0s);
}


//
// Event
//



//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
