// —————————————————————————
//     Typography
// —————————————————————————

// Size
$fs-root:           62.5%;
$fs-extra-strong:   8.0rem; // 80px
$fs-extra-large:    6.0rem; // 60px
$fs-large:          4.0rem; // 40px
$fs-extra-medium:   3.0rem; // 30px
$fs-medium:         2.6rem; // 26px
$fs-small:          1.4rem; // 14px
$fs-extra-small:    1.3rem; // 13px
$fs-extra-think:    1.2rem; // 12px

// Family
$ff-general:        'RobotoLight';
$ff-link:           'RobotoMedium';
$ff-description:    'RobotoRegular';

// Custom Font Face
@font-face {
    font-family: 'RobotoRegular';
    src: url('../../fonts/RobotoRegular.eot');
    src: url('../../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../../fonts/RobotoRegular.woff2') format('woff2'),
         url('../../fonts/RobotoRegular.woff') format('woff'),
         url('../../fonts/RobotoRegular.ttf') format('truetype'),
         url('../../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../../fonts/RobotoMedium.eot');
    src: url('../../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../../fonts/RobotoMedium.woff2') format('woff2'),
         url('../../fonts/RobotoMedium.woff') format('woff'),
         url('../../fonts/RobotoMedium.ttf') format('truetype'),
         url('../../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../../fonts/RobotoLight.eot');
    src: url('../../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../../fonts/RobotoLight.woff2') format('woff2'),
         url('../../fonts/RobotoLight.woff') format('woff'),
         url('../../fonts/RobotoLight.ttf') format('truetype'),
         url('../../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
